@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

img {
  width: 600px;
}

.content {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.input {
  display: flex;
  justify-content: end;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px;
  padding: 8px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  font-size: 16px;
  padding: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
